:root {
    --primary-color: #5A8FEE;
    --second-bg-color: #F5F0E1;
    --primary-text-color: #2F3645;
    --second-text-color: #6B7C95;
    --pastel-blue: #D0E7F5;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--second-bg-color);
    overflow-x: hidden;
    font-size: 0.95rem; /* Font dasar disesuaikan agar lebih kecil */
}

#wrapper {
    display: flex;
    transition: all 0.3s ease-in-out;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 15rem;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

/* Penyesuaian Header Sidebar untuk Logo */
.sidebar-heading {
    padding: 1.2rem 1rem;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}
.logo-link {
    display: block;
    text-align: center;
}
.logo-img {
    width: 60px; /* Ukuran Logo */
    height: auto;
    margin-bottom: 5px;
}
.logo-text-p {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    height: calc(100vh - 5rem);
    overflow-y: auto;
}

#page-content-wrapper {
    min-width: 100vw;
    margin-left: 15rem; 
    padding: 1.5rem; /* Padding konten lebih besar */
    transition: all 0.3s ease-in-out;
}

/* Fungsionalitas toggle sidebar */
#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
}

#wrapper.toggled #page-content-wrapper {
    min-width: 100vw;
    margin-left: 0;
}

/* Penyesuaian tampilan menu */
.list-group-item {
    border: none;
    padding: 0.8rem 1.2rem;
    background-color: transparent;
    color: var(--second-text-color);
    font-weight: 500;
    transition: background-color 0.1s ease; /* Efek hover soft */
}

.list-group-item:hover:not(.active) {
    background-color: var(--pastel-blue);
    color: var(--primary-text-color) !important;
}

.list-group-item.active {
    background-color: var(--pastel-blue);
    border-left: 4px solid var(--primary-color);
    color: var(--primary-color) !important;
    font-weight: 600;
}

/* Styling Kartu Metrik */
.dashboard-card {
    background-color: #fff;
    border-radius: 0.75rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.primary-text {
    color: var(--primary-color);
}
.second-text {
    color: var(--second-text-color);
}
.logo-text {
    color: var(--primary-color);
}

/* Layout responsif */
@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -15rem;
    }
    #page-content-wrapper {
        min-width: 100vw;
        margin-left: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-left: 15rem;
    }
}